version: '3.9'

services:
  mlflow:
    build:
      context: .
      dockerfile: infra/mlflow.Dockerfile
    volumes:
      - ./mlruns:/mlruns

  mlflow-proxy:
    image: nginx:alpine
    depends_on:
      - mlflow
    volumes:
      - ./infra/mlflow-proxy.conf:/etc/nginx/conf.d/default.conf:ro
    ports:
      - "5050:80"

  backend:
    build:
      context: .
      dockerfile: backend/Dockerfile
    environment:
      - OLLAMA_HOST=http://host.docker.internal:11434
      - MLFLOW_TRACKING_URI=http://mlflow:5000
    volumes:
      - ./data:/app/data
      - ./prompts:/app/prompts
      - ./mlruns:/app/mlruns
    ports:
      - "8000:8000"
    depends_on:
      - mlflow

  streamlit:
    build:
      context: .
      dockerfile: backend/Dockerfile
    command: ["python", "-m", "streamlit", "run", "/app/apps/streamlit_app.py", "--server.port", "8501", "--server.address", "0.0.0.0"]
    environment:
      - MLFLOW_TRACKING_URI=http://mlflow:5000
    volumes:
      - ./data:/app/data
      - ./prompts:/app/prompts
      - ./mlruns:/app/mlruns
    ports:
      - "8501:8501"
    depends_on:
      - mlflow

  frontend:
    build:
      context: frontend
      args:
        VITE_BACKEND_URL: http://13.37.41.241:8000
        VITE_MLFLOW_URL: http://13.37.41.241:5050
        VITE_STREAMLIT_URL: http://13.37.41.241:8501
        VITE_INTERFACE_URL: http://13.37.41.241:8501
    ports:
      - "4173:80"
    depends_on:
      - backend
      - mlflow-proxy
      - streamlit

